.projects_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    padding: 20px;
    height: 450px;
    width: 20%;
    box-shadow: 0px 7px 5px rgba(0,0,0,0.25);
    background-color: hsl(-445, 98%, 98%);
    justify-content: space-between;
}

.repository {
    margin-top: 20px;
    font-family: 'poppins';
    font-size: 16px;
    color: black;
    align-self: center;
}

.repository a {
    text-decoration: none;
    color: #B487BC;
}

.project_img {
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-color: #FF6060;
    position: relative;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    margin-bottom: 20px;
}

.project_img::before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    overflow: hidden;
}

.techno_img {
    width: 40px;
    display: inline-flex;
}

.techno_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.techno_description {
    font-family: 'poppins';
    font-size: 16px;
    color: black;
    align-self: center;
    margin-top: 15px;
}

.content_projects_section {
    display: flex;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
    width: 100%;   
}

/******************** Media queries ********************/
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .content_projects_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        display: flex;
        gap: 60px;
        margin-bottom: 30px;
        width: 100%;   
    }
    .project_card {
        width: 60%;
    }
} 