.skillSection {
    margin-top: 30px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.logoimg {
    border-radius: 100px;
    height: auto;
    width: 80px;
}

.logonodejs {
    height: auto;
    width: 80px;
}