.about__section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgProfile {
    height: 400px;
    width : auto;
    border-radius: 500px;
    margin-left: 70px;
}

.pProfile {
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    text-align: justify;
    font-weight: 200;
    color: black;
}

.spanProfile {
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    text-align: justify;
    font-weight: 400;
    color: black;
    text-decoration: underline overline #B487BC;
}

.content_about_section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:80px;
    background-color: #e5e7eb;
    padding: 20px;
    justify-content: center;
    border-radius: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    .content_about_section {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .imgProfile {
        height: 400px;
        width : auto;
        border-radius: 600px;
        margin-left: 0px;
    }
}

/******************** Media queries ********************/
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .content_about_section {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .imgProfile {
        height: 250px;
        width : auto;
        border-radius: 500px;
        margin-left: 0px;
    }
} 