.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background-color:#333;
    color: #e5e7eb;
    height: 20px;
    width: 20px;
}

.informations_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content_informations {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.title_informations {
    font-family: 'poppins';
    font-size: 1.3rem;
    color: #333;
}

.informations {
    font-family: 'poppins';
    font-size: 1.3rem;
    color:  #B487BC;
}

.informations a {
    text-decoration: none;
    color:  #B487BC;
    cursor: pointer;
}

.informations a:hover {
    color:  #9642a5;
}

.informations_special {
    font-family: 'poppins';
    font-size: 1.3rem;
    font-weight: bold;
    color: #B487BC;
}

.container_span {
    display: flex;
    flex-direction: column;
}

.content_contact_section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    background-color: #e5e7eb;
    border-radius: 25px;
    gap: 25px;
    margin-bottom: 100px;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.25);
    text-align: left;
    width: 18%;
    min-width: fit-content;
}


/******************** Media queries ********************/
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .content_contact_section {
        text-overflow : '...';
        text-overflow : ellipsis;
        text-overflow : ellipsis '.';
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        width: 60%;
        min-width: 320px;
    }
    .content_informations {
        gap: 25px;
        padding-left: 12px;
    }
    .icon {
        display: none;
    }
} 