.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
    margin-right: 30px;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    gap : 35px;
    list-style: none;
    justify-content: flex-end;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'quicksand', sans-serif;
    font-size: 22px;
}

.navigation__list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.active {
   border-bottom: solid 5px #B487BC;
}
